body{
	margin: 0;
	padding: 0;
}
header{
	min-height: 55px;
	padding: 0 20px;
}
#start-game{
	width: 100%;
	vertical-align: top;
	height: 40px;
}
header form{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
header form .block{
	padding: 10px 0;
}
header form input[type="submit"]{
	display: none;
}
header form input{
	display: block;
	width: 90%;
}
header form label{
	position: relative;
}
table{
	display: inline-block;
	margin-top: 0;
	border-spacing: 0;
}
td{
	border: 1px solid rgba(0, 0, 0, .3);
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
}
#play-container{
	display: grid;
	grid-template-columns: 7fr 3fr;
}
#playground{
	/*vertical-align: top;*/
	/*display: inline-block;*/
	/*width: 49vw;*/
	margin-top: 0;
	text-align: center;
}
#log_ground{
	/*display: inline-block;*/
	width: 30vw;
	height: 100vh;
	/*float: right;*/
	border: 3px solid rgba(100, 100, 255, 1);
}
#clear_log{
	cursor: pointer;
	width: 100%;
	padding: 10px;
}
/*It's easy to create tic and tac on pure css, but seems to use too many browser resources*/
.zero{
	background-color: red;
}
.cross{
	background-color: green;
}
#log {
	height: calc(100vh - 39px);
	overflow-y: auto;
}
#log .message{
	margin: 2px 0;
	padding: 3px;
}
#log .warning{
	background-color: yellow; 
}
#log .success{
	background-color: rgba(100, 255, 100, .4); 
}
#log .error{
	background-color: rgba(255, 100, 100, .4); 
}