#GameField{
	width: 100%;
	height: 100%;
	grid-area: game-field;
	color: rgba(0, 0, 0, .1);
	/*border: 1px solid gray;*/
}
#GameField td{
	border: 1px solid transparent;
}
#GameField td.active{
	border: 1px solid green;
}
