#GameField{
	width: 100%;
	height: 100%;
	grid-area: game-field;
	color: rgba(0, 0, 0, .1);
	border: 1px solid gray;
}
#GameField td{
	border: 1px solid transparent;
}
#GameField td.active{
	background-color: green;
	border: 1px solid green;
}
#GameField td.passive{
	background-color: grey;
	border: 1px solid grey;
}
